.App {
    --header_height: 60px;
    width: 130em;
    margin: 50px auto;

}

.hw {
    max-width: 116em;
    margin: 0 auto;
    padding: 0 1em;
}

.hwTitle {
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.2em;
    line-height: 2.7em;
    margin-bottom: 1em;
}

